/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-main);
  font-size: 18px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-color);
  background-image: var(--background-image);
  background-size: cover;
}

.content-inline-size {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.header {
  border: 2px solid var(--main-color);
  font-family: var(--font-family-accent);
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem) 25px;
  background-color: var(--background-color);
}

.header__logo {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  margin-block-end: 25px;
}

.theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
  margin-inline-start: 17px;
}

.theme-menu__button {
  background: none;
  border: none;
  text-transform: uppercase;
  padding: 0;
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -20px;
  animation: animationname 0.5s ease-in-out infinite alternate;
}

@keyframes animationname {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}

.theme-menu__button:focus-visible,
.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  inline-size: 0%;
  height: 2px;
  background-color: var(--main-color);
  /*transform: scaleX(0);*/
  transition: inline-size 0.3s ease;
  
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
  opacity: 0.6;
  /*transform: scaleX(1);*/
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 50px;
}

.content__card {

}

.content__image-container {
  position: relative;
}

.content__image-label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 14px;
  text-shadow:
  -1px 0 var(--label-stroke-color), 
   0 1px var(--label-stroke-color), 
   1px 0 var(--label-stroke-color), 
   0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports((text-stroke: 1px var(--label-stroke-color)) or (-webkit-text-stroke: 1px var(--label-stroke-color))) {
  .content__image-label {
      -webkit-text-stroke: 1px var(--label-stroke-color);
      text-stroke: 1px var(--label-stroke-color);
      text-shadow: none;
  }
} 

.content__card-title {
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  padding: 5px 10px;
  font-variation-settings: 'wght' var(--font-weight-title);
  font-size: 18px;
}

.content__card-image img {
  display: block;
  inline-size: 100%;
  object-fit: contain;
}

.content__card-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  padding: 25px;
  line-height: 21px;
}

.card__like-button{
  position: relative;
  align-self: flex-end;
  inline-size: 130px;
  background: none;
  border: 2px solid #000000;
  padding: 9px 17px;
  text-transform: capitalize;
}

.button__text {
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  line-height: 90%;
}

.like-icon {
  position: absolute;
  inset-inline-start: -40px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__save-button {
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  padding: 15px 20px;
}

.floppy-icon {
  inline-size: 21px;
  block-size: 21px;
}

@media (width <= 375px) {

  .content-inline-size {
    inline-size: 100%;
  }

  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .footer__save-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .content__image-label {
    inset-inline-end: 13px;
  }

}
